@import "../utils/vars";
.menu-container {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  flex-direction: column;
}
@media screen and (max-width: 767) {
  .menu-toggle {
    display: none;
  }
}
@media (min-width: 767px) {
  .menu-container {
    display: none;
  }
}
.mobile-menu.contacts {
  margin-top: auto;
  &:hover,
  &:focus {
    color: $brand-color;
    cursor: pointer;
  }
}
.mobile-menu .link {
  padding: 10px;
  text-decoration: none;
  font-weight: 500px;
  font-size: 40px;
  color: $writing-color;
  text-decoration: none;
  &:hover,
  &:focus {
    color: $brand-color;
    cursor: pointer;
  }
}
.social-links {
  display: flex;
  flex-direction: row;
  &:not(:last-child) {
    border-right: 1px solid $paragraph-color;
  }
}
.social-link_item {
  color: $brand-color;
  text-decoration: none;
  font-size: 18px;
  text-decoration: none;
  margin-left: 20px;
}
.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $writing-color;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}
.menu-toggle:hover,
.menu-toggle:focus {
  color: $brand-color;
  cursor: pointer;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: $white-color;
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}
.menu-container.is-open {
  transform: translateX(0);
}
.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: $writing-color;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.contact-link {
  color: $paragraph-color;
  text-decoration: none;
}
